@model IEnumerable<BooksWebSite.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Books</h3>
    </div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">ID</th>
                <th>Title</th>
                <th class="text-right">Author</th>
                <th class="text-right">Year</th>
                <th class="text-center">Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.Id</td>
                    <td>@Html.ActionLink(item.Name, "BookEdit", new { item.Id })</td>
                    <td class="text-right">@item.Author</td>
                    <td class="text-right">@item.YearOfWriting</td>
                    <td class="text-center">
                        @using (Html.BeginForm("DeleteBook", "BookEditor"))
                        {
                            @Html.Hidden("Id", item.Id)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Delete" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add new", "CreateBook", null,
            new { @class = "btn btn-default" })
    </div>
</div>
